<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>use case1 </title>
	<link href="./static/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
	</head>

	<div style="text-align:center">
		<p style="font-size: 30px">Welcome to CS510 Project!</p>
	<div>
	
	<div style="display:flex;flex-direction:row;justify-content:center;">
		<div style="margin-right: 10px"><button type="button" onclick="window.location.href='{{url_for( 'app1' )}}';">app1</button></div>
		<div style="margin-left: 10px"><button type="button" onclick="window.location.href='{{url_for( 'app2')}}';">app2</button></div>
	</div>
	
	<div class="col" id="head" style="margin: auto; padding: 20px; background-color:#f0ead6; width: 500px">
		<form method="POST" >
			Select and search your restaurant!<br>
			Current location: {{app}}<br>
			In our application1, you can enter a restaurant name from the below list or simply click the restaurants below and it will return you the whole menu of the restaurant and its most relevant matching photos with captions from customer reviews<br>
			<input  name="restaurant" size="35">
		    <input type="submit" value="search" id="submitForm">
			<script>
				$('#submitForm').click(function(){
					console.log("submit form")
					$('#outer').css("display", 'none');
					$('#load').css("display", 'inline');
				})
				$('#head').click(function(){
					console.log("click restaurant item")
					$('#outer').css("display", 'none');
					$('#load').css("display", 'inline');
				})
			</script>
		</form>
		<script>
			var arr = ["cafe-ba-ba-reeba-chicago-3","girl-and-the-goat-chicago","kumas-corner-belmont-chicago","little-goat-diner-chicago-4","lou-malnatis-pizzeria-chicago","portillos-hot-dogs-chicago-4","quartino-ristorante-chicago","smoque-bbq-chicago","the-purple-pig-chicago","wildberry-pancakes-and-cafe-chicago-2"];
			arr.forEach(function(res, index){
				$('#head').append(
					'<div style="color:#971849; ">' + '<a href="/app1/?bname='+res+' ">' + res + '</a></div>'
				)
			})
		</script>
        </div>
	<div id="load" style="display:{{displayLoad}}; border-top: 100px; font-size:30px; color:#971849">Algorithm is running...</div>
	<div id = "outer" style="display:{{displayRes}}">
		<h2>{{num}} items found.</h2>
		<script>
			function myFunc(vars) {
	    			return vars
			}
			var dic =  myFunc({{dic|tojson}});
			var arr = [];
			console.log(dic);
			for(var key in dic){
				var value = dic[key];
				var size = "168";
				var url2 = "";
				var url3 = "";
				if(value.length >= 4)url2 = value[3].replace(size, "348");
				if(value.length >= 6)url3 = value[5].replace(size, "348");
				var obj = {
					menu: key,
					caption: value[0],
					url1: value[1].replace(size, "348"),
					url2: url2,
					url3: url3
				}
				arr.push(obj)
			}
			arr.forEach(function (item, index) {
				$('#outer').append(
					'<div style="margin: 20px; padding: 20px; background-color:#f0ead6; display: flex; flex-direction: row;flex-wrap:wrap;" >'+
						'<div style="width: 600px"><p style="font-size:20px">Menu: </p>'+   item.menu  + '</div>' +
						'<div style="width: 600px"><p style="font-size:20px">Image Caption: </p>' + item.caption + '</div><br>' +
						'<div style="margin-right:50px;margin-top:20px;"><img  src="' + item.url1 + '"></div>' +
						'<div style="margin-right:50px;margin-top:20px;"><img  src="' + item.url2 + '"></div>' +
						'<div style="margin-top:20px;"><img  src="' + item.url3 + '"></div>' +
					'</div>'
				)
			})
			

		</script>


	</div>
</html>
